*{
    box-sizing: border-box;
    font-family: "Arial";
  }
  
  body{
    background-color: #20B2AA;
    min-height: 100vh;
    place-items: center;
  }

  .container{
    min-width: 500px;
    background-color: #F8F8FF;
    border-radius: 15px;
    padding: 12px;
    text-align: center;
    box-shadow: #000000 0 10px 20px -10px;
  }

  .status{
    font-size: 22pt;
    color: rgb(80,80,80);
    margin: 15px 0;
  }

  .find-state{
    font-size: 16pt;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    background-color: #20B2AA;
    color: #F8F8FF;
    cursor: pointer;
    transition: all .4s;
  }

  .find-state:hover{
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  }

  i{
    background-color: #000000;
    font-size: 1rem;
  }

  #map { 
    width: 50px;
    height: 100px; 
    place-items: center;
  }